<ion-content>
  <div id="search">
    <ion-searchbar mode="ios" id="searchbor"  showCancelButton="focus" (ionChange)="onChange($event)" (ionBlur)="hide()" (ionCancel)="hide()">
    </ion-searchbar>
    <div id="results" *ngIf = "results.length > 0 && notrouting">

      <div id="result" *ngFor="let location of results;let last=last" [class.last-item] = "last" (click) = "navigate(location.address)">
        <p class="main">{{location.address.houseNumber}} {{location.address.street}} </p>
        <p class="sub">{{location.address.city}},
          {{location.address.state}} {{location.address.postalCode}}</p>
      </div>
    </div>
  </div>

    <here-map [address]="target" lat="34.022350" lng="-118.285118"></here-map>


</ion-content>
