<ion-content>
  <div id="search">
    <ion-searchbar id="searchbor" (ionChange)="onChange($event)">
    </ion-searchbar>
    <div id="results" *ngIf = "results.length > 0 && notrouting">

      <p *ngFor="let location of results" (click) = "navigate(location.address)">
        {{location.address.houseNumber}} {{location.address.street}} {{location.address.city}},
        {{location.address.state}} {{location.address.postalCode}}
      </p>
    </div>
  </div>
  <here-map [address]="target" lat="34.022350" lng="-118.285118"></here-map>
</ion-content>